<div class="n" ng-repeat="post in posts | orderBy:'-upvotes' track by $index">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"> </span> {{post.upvotes}}
    <span class="post-text">
      {{post.text}}
    </span> - by {{post.author}}
    <a ui-sref="comment({id: post._id})">Add a comment</a>
    <button ng-click="removePost()">Delete Post</button>
</div>
<form ng-submit="addPost()">
    <div class="u">
        <h3>New Post</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Text" ng-model="text"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>
