<div ng-repeat="post in posts | orderBy:'-upvotes' track by $index">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote()"> </span>
    <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote()"> </span> {{post.upvotes}}
    <span class="post-text">
      {{post.text}} 
    </span> - by {{post.author}}
    <!--a> TO DO - Comments Link</a-->
</div>
<form ng-submit="addPost()">
    <h3>Add a new post</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="text"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
